<!-- Welcome -> index.html.erb -->





<div class="body-wrapper container-fluid">
	<div class="info-body container">
		</br>
		<h3 style="text-align:center;">Recreate the adventure of Star Wars with new scripts at your command.</h3>
		
		</br>
		<div class="blurb-wrapper container">
			<p style="width=30px;">Below are three input fields. Seed provides a starting string for speech generation. Number of characters limits the length of the script. Finally, temperature modulates the variability of the generation model. Play around with it and see what you get! </p>
		</div>
		
		</br>
		
		<div class="center">
		<% debate = Debate.find(1) %>
		</br>

		<%= bootstrap_form_for debate do |f| %>
			<%= f.label :p1, "Seed string (10 characters max)" %></br>
			<%= f.text_field :p1, :placeholder => "e.g. Leia...", hide_label: true, :default => "" %></br>

			<%= f.label :p2, "Number of Characters (5000 to 10000)" %></br>
			<%= f.number_field :p2, hide_label: true %></br>

			<%= f.label :sL, "Temperature (range of 0 to 0.1)" %></br>
			<%= f.range_field :sL, :in => 0..100, :step => 1, hide_label: true %></br>

			<%= f.label "", "Click BB8 to start!" %></br>
			<%= f.submit "Kickoff", :type => :image, :src => "/assets/BB8_2.png", :style => "width:257px;height:373px;", :onmouseover => "bigImg(this)" %>
		<% end %> 
		</div>

		</br>
		</br>




	</div>

</div>


